
*{
    margin:0;
    padding: 0;
}

html{
    box-sizing: border-box;
    font-size:62.5%
}

body{
    background-color:#CCFFCC;
}

*,*:before,*:after{
    box-sizing: inherit;
}

p{
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    color:var(--blanco);

}
a{
    text-decoration: none;
}
img {

    max-width: 100%;

}



.header{
    display: flex;
    flex-direction: column;
    background-color: #66CCFF ;
    
     
}

@media (min-width:768px){
    .header{
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

}

.bloke-centrado{
    margin: 1rem;
    background-color: #66CCFF ;
    box-shadow: 0 0 3px #000;
}
.container{
    display: flex; 
    justify-content: center;
    margin-top: 5rem;
    margin-bottom: 2rem;
}

/** Buscador **/
input{
    height: 4rem;
    width: 35rem;
    padding: 1rem;
    border-radius: 5px 0 0 5px;
    border:0;
    font-size: 20px;
   
}
   
button{
    background-color: #66CCFF ;
    border-radius: 0 5px 5px 0;
    border: 1;
    height: 4rem;
    width:4rem ;
 

}

/** Buscador cierre **/
.logo{
    margin-top: 2rem;
    margin-bottom: 0;
}
.logo a img{
    
    width: 70rem;
    height: 7rem; 
    margin-left: 6rem;
}

@media (min-width:768px){

    logo{
        margin-top: 5rem;
        margin-bottom: 3rem;
    }
}


.iniciar-sesion {
 
 display:flex;
 flex-direction: column;
 align-items: center;
 
}

@media (min-width:768px){
    .iniciar-sesion {
 
        display:flex;
        flex-direction: row;
        align-items: center;
        margin-right: 3rem;
        
    }

}






.iniciar-sesion__enlace{

    text-align: center;
    margin-top:1rem;
    width: 100%;
    background-color:#000;
    border-radius: 3rem; 
    color:var(--negro); 
    font-size: 1.5rem;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
   

}

@media (min-width:768px){
    
    .iniciar-sesion__enlace{
        
        width: 15rem;
        margin-top:3rem;
       }
         

    }

    .iniciar-sesion__imagen{
        height: 4rem;
        width:4rem ;
        margin-top:1rem;
        margin-bottom: 1rem;
        

    }

@media (min-width:768px){
    .iniciar-sesion__imagen{
        height: 4rem;
        width:4rem ;
        margin-left: 2rem;
        margin-top:3rem;}
}


    .iniciar-sesion__enlace h4{
    
    color:#fff;
}

.ruta{
    height: 2.5rem;
}

.ruta a{
    padding:4rem;
    font-size: 1.5rem;
    color:#000;
    font-weight:700;
}

.principal{
    display: flex;
    flex-direction: column;
    margin: 1rem;
   
    
    

}

.menu{
    width:100%;
    height: auto;
    background-color: #66CCFF ;
  /*min-height: 50rem;*/
    
    border-radius: 3rem 3rem 0 0; 
    padding-bottom: 1rem;
    margin-top: 3rem;
   
    

}

@media (min-width:768px){
    .principal{
        flex-direction: row;     
    }
    .menu{
        width: 20%;
        border-radius: 3rem ; 
        min-height: 50rem;
       
    }
}

.contenido{
    width:80%;
    background-color: #66CCFF ;
    margin-top: 3rem;
    border-radius: 3rem; 
}

.menu h2{
    text-align: center;
    background-color: #000;
    color:#fff;
    padding:1rem;
    margin-bottom:4rem;
    border-radius: 3rem 3rem 0 0; 
   
}

.menu ul{
    margin:0;
    padding: 0;
    list-style: none;
}

.menu ul a{
    color:white;
    background: #121212;
    display: block;
    width: 100%;
    padding: 0.6rem 1rem;
    font-size: 1.5rem;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.menu ul li{
    border-bottom: .1rem solid #333435 ;
}

.menu ul ul a{
    background-color: #5d5c63;
    padding-left: 3rem;
}

.menu ul ul{
    height: 0px;
    overflow: hidden;
    transition: 0.4s;
}

.menu ul li:hover ul{
    height:70px;
    overflow: hidden;
}



@media (min-witdh:768px){
    .menu ul{
        margin:0;
        padding: 0;
        list-style: none;
    }
    
    .menu ul a{
        color:white;
        background: #121212;
        display: block;
        width: 100%;
        padding: 0.6rem 1rem;
        font-size: 1.5rem;
        font-weight: 700;
        font-family: Arial, Helvetica, sans-serif;
        
    }
    .menu ul li{
        border-bottom: .1rem solid #333435 ;
    }
    
    .menu ul ul a{
        background-color: #5d5c63;
        padding-left: 3rem;
    }
    
    .menu ul ul{
        height: 0px;
        overflow: hidden;
        transition: 0.4s;
    }
    
    .menu ul li:hover ul{
        height:70px;
        overflow: hidden;
    }
    
}

.contenido h2{
    text-align: center;
    padding: 3rem;
   
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
}

.vacantes{
    display: flex;
    padding: 2rem;
    background-color: #CCFFCC;
    align-items: center;

}

.vancantes__anuncios{
    display: flex;
    flex-direction: column;

}

.imagen_vacante{
    border: .1rem solid #333435 ;
}

.vacantes:last-of-type{
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;}

.ver-mas{
    text-align: center;
    margin-top:3rem;
    margin-bottom: 1rem;
    width: 10rem;
    background-color:#66CCFF;
    border-radius: 3rem; 
    color:var(--negro); 
    font-size: 1.5rem;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    border-color: #000;
}

h4{
    color:#000;
    font-size: 1.5rem;
    margin: 0;
    font-weight: 700;
    padding: 1rem;
}

.iconos_imagen{
    height: 2rem;
    width:2rem ;
}

.itens{
    display: flex;
    align-items: center;
}

.footer{

    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
    height: auto;
}
.contenido--derecho{
    display: flex;
    flex-direction: column;
    align-items: end;
}

h3{
    margin-bottom: 1rem;
}